@using MovieWeb.Models
@model Complaint
@{
    ViewBag.Title = "用户反馈";
}
@*<@*style type="text/css">
        #center {
            width: 1000px;
            height: 1000px;
            margin: 0 auto;
            padding-left: 150px;
        }

        h2 {
            text-align: center;
        }

        .normal_mess {
            text-align: center;
            width: 100px;
            text-align: left;
            border: 1px solid #ffffff
        }

        .comp_text {
            text-align: center;
            width: 600px;
            height: 50px;
            border: 1px solid #ffffff
        }
    </style>

    <div id="center">
        <h2>查看反馈</h2>
        <form>
            <table>
                <tr>
                    <td class="normal_mess">用户ID</td>
                    <td class="normal_mess">反馈时间</td>
                    <td class="comp_text">反馈内容</td>
                    <td class="normal_mess">是否回复</td>
                    <td class="normal_mess">功能</td>
                </tr>
                @for (int i = 0; i < Model.Complaints.Count; ++i)
                {
                <tr>
                    <td class="normal_mess">@Model.Complaints[i].UID</td>
                    <td class="normal_mess">@Model.Complaints[i].ComplaintTime</td>
                    <td class="comp_text">@Model.Complaints[i].ComplaintText</td>
                    <td class="normal_mess">@Model.Complaints[i].ReplyFlag</td>
                    <td class="normal_mess"><a href="@Url.Content("~/SendMessage/Index")"><u>回复</u></a></td>
                </tr>
                }
            </table>
        </form>
    </div>*@

<style>
    .complaint-title {
        box-sizing: border-box;
        padding: 0 16px;
        height: 42px;
        display: flex;
        align-items: center;
    }

    .complaint-list {
        padding: 10px 0;
        position: relative;
    }

    .bubble {
        border-radius: 4px;
        background-color: rgb(229,243,254);
    }

    .title-text {
        font-size: 15px;
        line-height: 12px;
        color: #666;
        margin: 0;
    }

    .complaint-content {
        box-sizing: border-box;
        line-height: 24px;
        position: relative;
        padding: 24px 16px;
        margin-bottom: 10px;
    }

    .content-title {
        line-height: 24px;
        padding: 0;
    }

    .title-left {
        box-sizing: border-box;
        color: #333;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
    }

    .title-right {
        box-sizing: border-box;
        color: #999;
        font-size: 13px;
        line-height: 22px;
        margin: 0 10px;
    }

    .content-text {
        box-sizing: border-box;
        color: #666;
        padding-left: 8px;
        line-height: 24px;
    }

    .complaint-text {
        box-sizing: border-box;
        word-break: break-word;
        line-height: 19px;
        font-size: 12px;
    }

    .send-btn, .sent-tips {
        background-color: #666;
        box-sizing: border-box;
        font-size: 12px;
        width: 40px;
        height: 30px;
        border-radius: 10px;
        float: right;
        margin-right: 20px;
    }

    .no-complaint {
        text-align: center;
        margin-top: 200px;
    }
</style>

<div class="complaint-title col-md-12 bubble">
    <p class="title-text">用户反馈</p>
</div>
<div class="complaint-list col-md-12">
    @if (Model.Complaints.Count > 0)
    {
        foreach (var i in Model.Complaints)
        {
            <div class="complaint-content col-md-12 bubble">
                <div class="col-md-12 content-title">
                    <span class="title-left">@i.UID</span>
                    <span class="title-right">@i.ComplaintTime</span>
                </div>
                <div class="col-md-12 content-text">
                    <span class="complaint-text">@i.ComplaintText</span>
                </div>
                @if (i.ReplyFlag == 0)
                {
                    <button class="send-btn">回复</button>
                }
                else
                {
                    <div class="sent-tips">
                        <span>已回复</span>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <span class="no-complaint">暂无反馈消息哦！</span>
    }
</div>

<script>
    $(".send-btn").click(function () {
        window.location.href = "/SendMessage/Index?ComplaintTime=" + $(this).prevAll("div").eq(1).children(".title-right").text()
            + "&UID="+ $(this).prevAll("div").eq(1).children(".title-left").text()
    })
</script>