@using MovieWeb.Models
@model WishList

@if (Model.wishLists.Count == 0)
{
    <h1 style="height:300px;text-align:center;padding-top:150px;">这里空空如也什么也没有~</h1>
}
@if (Model.wishLists.Count > 0)
{
    foreach (var i in Model.wishLists)
    {
        <div class="wish-item">
            <div class="wish-movie-img">
                <a href="@Url.Content("~/Movie/Index/"+i.movieID)" class="movie-img">
                    <!--<img src="@i.movieImgPath" alt="">-->
                    <img src="~/Content/mjx_package/image_test/01.jpg" height="200" />
                </a>
            </div>
            <div class="wish-text">
                <h3>@i.movieName</h3>
                <h4>简介&nbsp:</h4>
                <p class="wish-item-detail">@i.movieDetail</p>
                <span>上映时间&nbsp:&nbsp&nbsp</span><span>@i.upTime&nbsp&nbsp&nbsp&nbsp</span>
                <span>下线时间&nbsp:&nbsp&nbsp</span><span>@i.downTime&nbsp&nbsp&nbsp&nbsp</span>
                <span style="float:right;margin-right:30px;">收藏时间&nbsp:&nbsp&nbsp @i.wishTime</span>
                @using (Ajax.BeginForm("Delete", "WishList", new AjaxOptions {UpdateTargetId= "show_wish_list" }))
                {
                    <input type="hidden" value=@i.movieID name="DeleteWishId" />
                    <button type="submit" class="wish-delete-btn"><i class="uil uil-trash-alt"></i></button>
                }
            </div>
        </div>
    }
}
