@{
    ViewBag.Title = "Detail Page";
}
@using MovieWeb.Models
@model RecommendMovie
<style>
    .movie-background {
        background: linear-gradient(rgb(57,47,89),rgb(111,67,81));
        height: 300px;
        position: relative;
    }

    .movie-img {
        margin-top: 20px;
    }

    .image-content {
        float: right;
    }

    .movie-msg {
        position: relative;
    }

    .movie-basicmsg {
        margin-top: 20px;
    }

    .movie-title {
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .movie-intro {
        margin: 20px 0;
        line-height: 100%;
    }

    .action-btn {
        margin-top: 60px;
    }

    .wish-btn, .buy-btn {
        float: left;
        height: 40px;
        background-color: rgba(117,97,137,0.8);
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        border-radius: 5px;
        margin-right: 10px
    }

    .buy-btn {
        background-color: red;
    }

    .score-div {
        margin-top: 30px;
        padding: 0;
    }

    .public-score {
        font-size: 8px;
    }

    .score-content {
        margin-top: 15px;
    }

    .score {
        font-size: 30px;
        color: #ffc600;
        float: left;
        margin-right: 15px;
    }

    .synopsis {
        margin-top: 100px;
    }

    .synopsis-title {
        font-size: 32px;
        color: red;
        text-align: center;
    }

    .synopsis-content {
        text-indent: 2em;
        line-height: 30px;
    }

    .stars {
        margin-top: 12px;
    }

    .comment-index {
        margin-top: 100px;
    }

    .comment-link {
        font-size: 20px;
        color: cyan;
    }

        .comment-link:hover {
            color: red;
            text-decoration: underline;
        }

    .interested-movie {
        margin-top: 100px;
    }

    .more-movie {
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
    }

    .divide-line {
        height: 2px;
        margin: 10px 0;
        background-color: #fff;
    }

    .recommend-index {
        height: 60px;
        position: relative;
        background: linear-gradient(rgb(57,47,89),rgb(111,67,81));
    }

    .recommend-image {
        height: 60px;
    }

    .recommend-title {
        margin-left: 10px;
        margin-top: 30px;
        font-size: 16px;
    }

    .recommend-type {
        margin-left: 10px;
        margin-top: 20px;
        font-size: 8px;
    }

    /*收藏按钮*/
    .wait_add {
        float: left;
        height: 40px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: red;
    }

    .wait_delete {
        float: left;
        height: 40px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: rgba(117,97,137,0.8);
    }
</style>

<div class="modal fade" id="wish_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Tips</h4>
            </div>
            @if (Session["uid"] == null)
            {
                <div class="modal-body">请登录！！！</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <a href="/Account/Login"><button type="button" class="btn btn-primary">立即登陆>>></button></a>
                </div>
            }
            @if (Session["uid"] != null)
            {
                <div class="modal-body">收藏夹已更新！！！</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <a href="/WishList"><button type="button" class="btn btn-primary">立马查看>>></button></a>
                </div>
            }
        </div>
    </div>
</div>

<div class="col-md-12 movie-background">
    <div class="col-md-3 movie-img">
        <img src=@ViewBag.Data["图片url"] class="image-content" rel="v:image">
    </div>
    <div class="movie-msg col-md-9">
        <div class="col-md-12 movie-basicmsg">
            <h2 class="movie-title">@ViewBag.Data["名字"]<span>(ID:@ViewBag.Data["影片ID"])</span></h2>
            <p class="movie-intro">@ViewBag.Data["类型"]</p>
            <p class="movie-intro"><p>时长 @ViewBag.Data["时长"]</p></p>
            <p class="movie-intro">@ViewBag.Data["上映日期"]上映   @ViewBag.Data["下线日期"]下线</p>
        </div>
        <div class="col-md-6 action-btn">
            <div>
                @using (Ajax.BeginForm("AddWish", "Film", new AjaxOptions { UpdateTargetId = "add_to_wish_btn" }))
                {
                    <input type="hidden" value=@ViewBag.Data["影片ID"] name="addMovieID" />
                    <div id="add_to_wish_btn">
                        @{
                            Html.RenderPartial("FilmPart1", Model);
                        }
                    </div>
                }
            </div>
            <button class="col-md-5 buy-btn" onclick="skip()">购票</button>
        </div>
        <div class="col-md-6 score-div">
            <div class="col-md-12 public-score"><p>大众评分</p></div>
            <div class=" col-md-12 score-content">
                <div class="score">
                   @if (ViewBag.mark == 0)
                    {
                        <p>暂无评分</p>
                    }
                    else
                    {<p>评分：@ViewBag.mark </p>}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="col-md-12 synopsis">
        <p class="synopsis-title">影片简介</p>
        <p class="synopsis-content">@ViewBag.Data["简介"]</p>
    </div>

    <div class="col-md-12 comment-index">@Html.ActionLink("点击此处查看用户评论>>>", "Index", "MovieComment", null, new { @class = "comment-link" })</div>
</div>
<div class="interested-movie col-md-4">
    <h4 class="more-movie col-md-12">您可能感兴趣的相关电影</h4>
    <div class="divide-line col-md-12"></div>
    @foreach (var i in Model.recommendMovies)
    {
        <div class="recommend-index col-md-12">
            <div class="recommend-imageDiv col-md-2">
                <a href="@Url.Action("Index","Film")?id=@i.ID">
                    <img src=@i.Url class="recommend-image" />
                </a>
            </div>
            <div class="col-md-10">
                <a href="@Url.Action("Index","Film")?id=@i.ID">
                    <p class="recommend-title">@i.Name<span>(ID:@i.ID)</span></p>
                </a>
                <p class="recommend-type">@i.Type</p>
            </div>
        </div>
        <div class="divide-line col-md-12"></div>
    }
</div>

<script>
    $(function () {
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        }

    });
    function skip() {
        window.location.href="../Tickets/Round?id=@ViewBag.Data["影片ID"] "
    }
</script>