@{
    ViewBag.Title = "用户评论";
}
<link rel="stylesheet" href="~/Content/layui"></link>
<style>
    .center {
        text-align: center
    }
    .content-title {
        margin-bottom: 20px;
        padding: 0;
        border-radius: 2px;
        height: 26px;
        text-align:center;
    }

    .title-text {
        font-size: 32px;
        color: #ef4238;
        line-height: 26px;
        font-weight: 700;
    }
</style>
<div class="col-md-12 content-title">
    <span class="title-text">用户评论</span>
</div>
    <table class="layui-table">
        <colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 16%;">
            <col span="1" style="width: 14%;">
            <col span="2" style="width: 52%;">
            <col span="2" style="width: 12%;">
        </colgroup>
        <thead>
            <tr>
                <th><div class="center"><span>影片ID</span></div></th>
                <th><div class="center"><span>账号ID</span></div></th>
                <th><div class="center"><span>评论时间</span></div></th>
                <th><div class="center"><span>评论内容</span></div></th>
                <th><div class="center"><span>操作</span></div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(System.Data.DataRow film in  @ViewBag.data){
            <tr>
                <td><div class="center"><span>@film["影片ID"]</span></div></td>
                <td><div class="center"><span>@film["账号ID"]</span></div></td>
                <th><div class="center"><span>@film["评论时间"]</span></div></th>
                <td><div class="center"><span>@film["评论内容"]</span></div></td>
                <td>
                    <div class="center"><span><a href='delComment?pid=@film["影片ID"]&id=@film["账号ID"]'>删除</a></span></div>
                </td>
            </tr>
            }
            </tr>
        </tbody>
    </table>