@{
    ViewBag.Title = "票房收入与统计";
}
<link rel="stylesheet" href="~/Content/layui"></link>
<style>
    .center{
        text-align:center
    }
    .content-title {
        margin-bottom:20px;
        padding: 0;
        border-radius: 2px;
        height: 26px;
        text-align:center;
    }
    .title-text {
        font-size: 32px;
        color: #ef4238;
        line-height: 26px;
        font-weight: 700;
    }

</style>
<div class="col-md-12 content-title">
    <span class="title-text">票房收入与统计</span>
</div>
    <table class="layui-table">
        <colgroup>
            <col span="1" style="width: 14%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 16%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 12%;" />
        </colgroup>
        <thead>
            <tr>
                <th><div class="center"><span>影片ID</span></div></th>
                <th><div class="center"><span>名字</span></div></th>
                <th><div class="center"><span>类型</span></div></th>
                <th><div class="center"><span>总人数</span></div></th>
                <th><div class="center"><span>票价</span></div></th>
                <th><div class="center"><span>总票房</span></div></th>
                @*<th>操作</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(System.Data.DataRow film in  @ViewBag.data){
            <tr>
                <td><div class="center"><span>@film["影片ID"]</span></div></td>
                <td><div class="center"><span>@film["名字"]</span></div></td>
                <th><div class="center"><span>@film["类型"]</span></div></th>
                <td><div class="center"><span>@film["总人数"]</span></div></td>
                <td><div class="center"><span>@film["票价"]</span></div></td>
                <td><div class="center"><span>@film["总票房"]</span></div></td>
                @*<td>
                    <a href='api.php?a=del&id={$v["id"]}'></a>
                </td>*@
            </tr>
            }
            </tr>
        </tbody>
</table>