@{
    ViewBag.Title = "票房收入与统计";
}
<link rel="stylesheet" href="~/Content/layui"></link>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body>
    欢迎回来，管理员 @ViewBag.admin
    <table class="layui-table">
        <colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 26%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 16%;">
            <col span="1" style="width: 12%;">
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>片名</th>
                <th>类型</th>
                <th>总人数</th>
                <th>票价</th>
                <th>总票房</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(System.Data.DataRow film in  @ViewBag.data){
            <tr>
                <td>@film["影片ID"]</td>
                <td>@film["名字"]</td>
                <th>@film["类型"]</th>
                <td>@film["总人数"]</td>
                <td>@film["票价"]</td>
                <td>@film["总票房"]</td>
                <td>
                    <a href='api.php?a=del&id={$v["id"]}'></a>
                </td>
            </tr>
            }
            </tr>
        </tbody>
    </table>

</body>
</html>